<!doctype html>
<html>
<head>
  <title>Location2</title>
  <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.4.1.min.js"></script>
</head>
<body>
<script>

  var map;
  var currentLocation;
  var pnChannel = "eXMapp";
  var pubnub = new PubNub({
    publishKey: "<%= ENV['API_HOST_PUBNUB_PUBLISH_KEY'] %>",
    subscribeKey: "<%= ENV['API_HOST_PUBNUB_SUBSCRIBE_KEY'] %>",
    uuid: PubNub.generateUUID()
  });
  
  pubnub.subscribe({channels: [pnChannel]});
  pubnub.addListener({message:setLocation});

  document.getElementById('travel_mode').addEventListener('change', function () {
    var style = this.value === "TRANSIT" ? 'inline' : 'none';
    document.getElementById('transit_mode').style.display = style;
  });

  document.getElementById('start').addEventListener('click', function () {
    document.getElementById('end').style.display = 'inline';
    document.getElementById('reverse').style.display = 'inline';
    document.getElementById('travel_mode').style.display = 'inline';
    document.getElementById('directions_panel').style.display = 'inline'
    this.style.display = 'none';
  });

  document.getElementById('reverse').addEventListener('click', function () {
    this.style.display = 'none';

  });

  document.getElementById('end').addEventListener('click', function () {          
    window.location.reload();
      
  });      

  function initMap() {
    var current_route_id = document.getElementById("currentRoute").innerHTML;
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 39.8, lng: -98.7129},
      zoom: 5,
      fullscreenControl: true,
      zoomControl: true,
      mapTypeControl: false,
      streetViewControl: false,
      scrollwheel: false,
      styles: [{ 
                  "featureType": "all", 
                  "elementType": "all", 
                  "stylers": [ { "invert_lightness": true }, { "saturation": 10 }, { "lightness": 30 }, { "gamma": 0.5 }, { "hue": "#435158" } ] 
              }]
    });
    var marker = new google.maps.Marker({
                     map: map
                   });
    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer({
      map: map,
      panel: document.getElementById('directions_panel')
    });
    directionsDisplay.setMap(map);

    document.getElementById('travel_mode').addEventListener('change', function() {
                
      $.get("/api/v1/routes/"+current_route_id+".json", function(route) {
        var startPoint = { lat: parseFloat(route["destination"]["latitude"]), lng: parseFloat(route["destination"]["longitude"]) };
        var endPoint = { lat: parseFloat(route["origin"]["latitude"]), lng: parseFloat(route["origin"]["longitude"]) };
        
        determineRoute(directionsService, directionsDisplay, startPoint, endPoint);
      });
      
    });

    document.getElementById('transit_mode').addEventListener('change', function() { 
      $.get("/api/v1/routes/"+current_route_id+".json", function(route) {
        var startPoint = { lat: parseFloat(route["destination"]["latitude"]), lng: parseFloat(route["destination"]["longitude"]) };
        var endPoint = { lat: parseFloat(route["origin"]["latitude"]), lng: parseFloat(route["origin"]["longitude"]) };
        
        determineRoute(directionsService, directionsDisplay, startPoint, endPoint);
      });
    });

    google.maps.event.addDomListener(window, 'resize', function() {
        var center = map.getCenter();
        google.maps.event.trigger(map, "resize");
        map.setCenter(center);
    });

    $("#start").click(function(){

      $.get("/api/v1/routes/"+current_route_id+".json", function(route) {
        var startPoint = { lat: parseFloat(route["origin"]["latitude"]), lng: parseFloat(route["origin"]["longitude"]) };
        var endPoint = { lat: parseFloat(route["destination"]["latitude"]), lng: parseFloat(route["destination"]["longitude"]) };
        
        determineRoute(directionsService, directionsDisplay, startPoint, endPoint);
      }); 

      function findCurrentPosition() {

        navigator.geolocation.getCurrentPosition(function(position) {
          lat = position.coords.latitude;
          lng = position.coords.longitude;

          currentLocation = new google.maps.Marker({
            position: {lat:lat, lng:lng}, 
            map:map
          });
          
        });

      };
      findCurrentPosition();
    });

    $("#reverse").click(function(){
      
      var current_route_id = document.getElementById("currentRoute").innerHTML;   
      function reverseRoute() {
        $.get("/api/v1/routes/"+current_route_id+".json", function(route) {
          var startPoint = { lat: parseFloat(route["destination"]["latitude"]), lng: parseFloat(route["destination"]["longitude"]) };
          var endPoint = { lat: parseFloat(route["origin"]["latitude"]), lng: parseFloat(route["origin"]["longitude"]) };
          
          determineRoute(directionsService, directionsDisplay, startPoint, endPoint);
        });
        
      };
      reverseRoute();
    });

    $("#end").click(function(){

      if (directionsDisplay != null) {
        directionsDisplay.setMap(null);
        directionsDisplay = null;
        document.getElementById('directions_panel').innerHTML = "";
      };


    });
  };

  function determineRoute(directionsService, directionsDisplay, startPoint, endPoint) {
    var selectedTravelMode = document.getElementById('travel_mode').value;
    var selectedTransitMode = document.getElementById('transit_mode').value;
    directionsService.route({
      origin: startPoint,
      destination: endPoint,
      travelMode: selectedTravelMode,
      transitOptions: {
        modes: [selectedTransitMode]
      }

    }, function(response, status) {
      if (status === 'OK') {
        directionsDisplay.setDirections(response);
      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });
  };

  var setLocation = function(payload) {
    lat = payload.message.lat;
    lng = payload.message.lng;
    map.setCenter({lat:lat, lng:lng, alt:0});
    currentLocation.setPosition({lat:lat, lng:lng, alt:0});
    
    pushCoordToArray(lat, lng);

    var lineCoordinatesPath = new google.maps.Polyline({
      path: lineCoordinatesArray,
      geodesic: true,
      strokeColor: '#2E10FF',
      strokeOpacity: 1.0,
      strokeWeight: 2
    });
    
    lineCoordinatesPath.setMap(map);

  };

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(storePosition);
    } else {
      console.log("Geolocation is not supported by this browser.");
    }
  };

  function storePosition(position) {
    if (position && position.coords) {
      lat = position.coords.latitude;
      lng = position.coords.longitude; 
      pubnub.publish({channel:pnChannel, message:{ lat:lat, lng:lng }});
    } else {
      console.log("Location unavailable");
    }
  }
      
  setInterval(function(){
    storePosition(getLocation());
  }, 5000);


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_HOST_INIT_MAP_KEY'] %>&callback=initMap"></script>
  </body>
</html>